@tailwind base;

@tailwind components;

@import 'atoms/status.pcss';
@import 'atoms/inputs.pcss';
@import 'atoms/buttons.pcss';
@import 'atoms/titles.pcss';
@import 'atoms/links.pcss';
@import 'molecules/modal.pcss';
@import 'molecules/table.pcss';

@tailwind utilities;