.table {
  @apply w-full table-auto;
}

.table-head {
  @apply font-semibold text-gray-700;
}

.table-body {
  @apply border-t-2 border-solid border-gray-500;
}

.table-title {
  @apply p-4 text-left;
}

.table-title.--order {
  @apply cursor-pointer;
}

