.input {
  @apply border border-solid border-gray-500 -sm px-4;
}

.input.--select {
  @apply w-full;
}

.reinit {
  @apply text-teal-500 text-gray-100 cursor-pointer absolute right-0 mr-2;
}

.reinit .las {
  @apply text-teal-500;
}

.reinit.--select {
  @apply mr-6;
}

.field {
  @apply flex items-center relative;
}
